.titleArea { padding: 70px 0; text-align: center; margin: 0 auto; width: 500px; color: #777777; }

.titleArea h1 { padding: 10px 0; font-size: 36px; font-weight: 500; line-height: 50px; }

.titleArea p { font-size: 18px; color: #939393; padding-top: 20px; }

.wishlist { width: 1480px; margin: 0 auto; }

.wishlist .consult_list_table table { width: 100%; border-top: 1px solid #c3cfd9 !important; vertical-align: middle; }

.wishlist .consult_list_table table thead tr { border-bottom: 1px solid #c3cfd9; }

.wishlist .consult_list_table table thead tr th { vertical-align: middle; font-size: 14px; font-weight: 500; color: #959ea6; padding: 20px 0; }

.wishlist .consult_list_table table thead tr th:nth-child(1) input { width: 24px; height: 24px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url("../images/cart/bg-checkbox.png"); background-repeat: no-repeat; background-position: 50%; }

.wishlist .consult_list_table table thead tr th:nth-child(1) input[type="checkbox"]:checked { background-image: url("../images/cart/bg-checkbox-active.png"); }

.wishlist .consult_list_table table tbody tr { border-bottom: 1px solid #c3cfd9; }

.wishlist .consult_list_table table tbody tr td { text-align: center; vertical-align: middle; font-size: 14px; font-weight: 500; color: #959ea6; padding: 20px 0; }

.wishlist .consult_list_table table tbody tr td .checkbox img { width: 100px; height: 100px; }

.wishlist .consult_list_table table tbody tr td:nth-child(1) input { width: 24px; height: 24px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url("../images/cart/bg-checkbox.png"); background-repeat: no-repeat; background-position: 50%; }

.wishlist .consult_list_table table tbody tr td:nth-child(1) input[type="checkbox"]:checked { background-image: url("../images/cart/bg-checkbox-active.png"); }

.wishlist .consult_list_table table tbody tr td:nth-child(3) { text-align: left; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li:nth-child(1) a { font-size: 18px; font-weight: 500; color: #777777; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li:nth-child(2) { margin-top: 15px; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li:nth-child(2) strong { color: #676e73; font-size: 20px; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li:nth-child(3) { margin-top: 15px; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li:nth-child(3) span { font-size: 16px; font-weight: 500; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li .wish_btn { margin-top: 25px; margin-bottom: none; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li .wish_btn a { width: 80px; text-align: center; display: inline-block; padding: 10px 15px; font-size: 18px; font-weight: 500; margin-right: 10px; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li .wish_btn a:nth-child(1) { background-color: #ffcc00; color: #fff; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li .wish_btn a:nth-child(2) { background-color: #777777; color: #fff; }

.wishlist .consult_list_table table tbody tr td:nth-child(3) ul li .wish_btn a:nth-child(3) { border: 1px solid #c3cfd9; color: #777777; }

.wishlist .consult_list_table .wish_bottom_btn { width: 100%; margin: 15px 0; }

.wishlist .consult_list_table .wish_bottom_btn .gLeft { padding: 5px 10px; font-size: 16px; }

.wishlist .consult_list_table .wish_bottom_btn .gLeft strong { font-weight: 500; }

.wishlist .consult_list_table .wish_bottom_btn .gLeft a { text-align: center; display: inline-block; width: 100px; padding: 10px 5px; color: #777777; }

.wishlist .consult_list_table .wish_bottom_btn .gLeft a:nth-child(2) { background-color: #777777; color: #fff; }

.wishlist .consult_list_table .wish_bottom_btn .gCenter { text-align: center; margin: 0 auto; padding: 5px 10px; font-size: 16px; }

.wishlist .consult_list_table .wish_bottom_btn .gCenter a { text-align: center; display: inline-block; width: 250px; height: 50px; line-height: 50px; padding: 0 25px; color: #777777; }

.wishlist .consult_list_table .wish_bottom_btn .gCenter a:nth-child(2) { background-color: #ffcc00; color: #fff; }

.wishlist .consult_list_table .order_page { margin-top: 40px; margin-bottom: 80px; height: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.wishlist .consult_list_table .order_page a { margin: 0 5px; }

.wishlist .consult_list_table .order_page ol li a { line-height: 24px; }

.saved_money { width: 1480px; margin: 0 auto; }

.saved_money .save_m_Info { width: 100%; border: 1px solid #c3cfd9; padding: 20px 0; text-align: center; position: relative; }

.saved_money .save_m_Info ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: left; }

.saved_money .save_m_Info ul li { width: 47%; height: 30px; line-height: 30px; margin: 3px 0; padding: 0 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.saved_money .save_m_Info ul li strong { font-size: 15px; font-weight: 500; color: #777777; }

.saved_money .save_m_Info ul li a { display: inline-block; border: 1px solid #c3cfd9; padding: 0px 20px; height: 30px; }

.saved_money .save_m_Info ul li:nth-child(1) { width: 100%; padding: 0 20px 10px; }

.saved_money .save_m_Info ul li:nth-child(1) strong { font-size: 16px; font-weight: 500; }

.saved_money .save_m_Info ul li:nth-child(1) span { font-size: 16px; font-weight: 500; color: #ffcc00; }

.saved_money .save_m_Info ul:before { content: ""; display: block; padding: 30px 0; background-color: #c3cfd9; width: 1px; position: absolute; left: 50%; top: 45%; }

.saved_money .basetab { border-bottom: 1px solid #777777; margin: 30px 0; }

.saved_money .basetab ul li { width: 200px; display: inline-block; border: 1px solid #777777; border-bottom: none; padding: 10px 10px; text-align: center; border-radius: 15px 15px 0 0; z-index: 10; cursor: pointer; }

.saved_money .basetab ul li a { display: block; }

.saved_money .basetab ul li.selected { background-color: #777777; }

.saved_money .basetab ul li.selected a { color: #fff; }

.saved_money .s_money_list_table { margin: 0 auto; }

.saved_money .s_money_list_table table { width: 100%; border-top: 1px solid #c3cfd9 !important; padding: 20px 20px; }

.saved_money .s_money_list_table table thead tr { border-bottom: 1px solid #c3cfd9 !important; }

.saved_money .s_money_list_table table thead tr th { padding: 15px 0; vertical-align: middle; }

.saved_money .s_money_list_table table tbody { text-align: center; }

.saved_money .s_money_list_table table tbody tr { border-bottom: 1px solid #c3cfd9 !important; }

.saved_money .s_money_list_table table tbody tr td { padding: 15px 0; vertical-align: middle; }

.saved_money .order_page { margin: 100px 0; height: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.saved_money .order_page a { margin: 0 5px; }

.saved_money .order_page ol li a { line-height: 24px; }

.saved_money .myshop-head { margin-bottom: 50px; }

.saved_money .myshop-head h3 { font-size: 18px; color: #676e73; font-weight: 500; }

.saved_money .myshop-head .info_inner ul { color: #959ea6; margin-top: 20px; padding-left: 20px; list-style: disc; line-height: 30px; }
