#main {
  padding-top: 70px;

  margin: 0 auto;
  .title_menu {
    text-align: center;
    padding: 30px;
    strong {
      margin-top: 30px;
      padding: 30px 30px;
      color: gray;
      font-weight: 700;
    }
    ul {
      margin: 0 auto;
      margin-top: 30px;
      width: 800px;
      display: flex;
      justify-content: space-around;
      padding: 0 30px;
      li {
        a {
          font-size: 14px;
          font-weight: 400;
          color: #777777;
        }
        &.on {
          a {
            font-size: 14px;
            font-weight: 400;
            color: #ffcc00;
          }
        }
      }
    }
  }
  .imgBox {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-first;
    .txtBox {
      margin: 0 auto;
      color: #fff;
      display: block;
      line-height: 20px;
      font-size: 14px;
      padding-bottom: 20px;
      text-align: center;
      h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
      }
      span {
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &.all_pro {
      background-image: url("../images/main/product/subimage_shopall.png");
    }
    &.baby {
      background-image: url("../images/main/product/subimage_shop.png");
    }
    &.kid {
      background-image: url("../images/main/product/subimage_shop2.png");
    }
    &.bath {
      background-image: url("../images/main/product/subimage_shop3.png");
    }
    &.pre {
      background-image: url("../images/main/product/subimage_shop4.png");
    }
  }

  .inner {
    margin: 0 auto;
    width: 900px;
    padding: 30px 0;
    ul {
      margin: 0 auto;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 430px;
        height: 640px;
        text-align: center;
        padding: 5px;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
        .li_txtBox {
          margin: 20px 0;
          span {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            height: 40px;
            padding: 20px;
          }
        }
        .cart {
          width: 100%;
          padding: 10px 0;
          border: 1px solid #ccc;
          a {
            font-size: 23px;
          }
        }
      }
    }
    .soon {
      height: 300px;
      margin: 0 auto;
      text-align: center;
      color: #777777;
      font-weight: 500;
      h3 {
        display: block;
        font-size: 30px;
        height: 30px;
        line-height: 50px;
        span {
          display: block;
          height: 30px;
          line-height: 30px;
          font-size: 20px;
        }
      }
    }
  }
}
