#main {
  padding-top: 70px;

  margin: 0 auto;
  .title_menu {
    text-align: center;
    padding: 30px;
    strong {
      margin-top: 30px;
      padding: 30px 30px;
      color: gray;
      font-weight: 700;
    }
    ul {
      margin: 0 auto;
      margin-top: 30px;
      width: 800px;
      display: flex;
      justify-content: space-around;
      padding: 0 30px;
      li {
        a {
          font-size: 14px;
          font-weight: 400;
          color: #777777;
        }
        &.on {
          a {
            font-size: 14px;
            font-weight: 400;
            color: #ffcc00;
          }
        }
      }
    }
  }
  .imgBox {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-first;
    .txtBox {
      margin: 0 auto;
      color: #fff;
      display: block;
      line-height: 20px;
      font-size: 14px;
      padding-bottom: 20px;
      text-align: center;
      h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
      }
      span {
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &.all_pro {
      background-image: url("../images/shop_main/subimage_shopall.png");
    }
    &.baby {
      background-image: url("../images/shop_main/subimage_shop.png");
    }
    &.kid {
      background-image: url("../images/shop_main/subimage_shop2.png");
    }
    &.bath {
      background-image: url("../images/shop_main/subimage_shop3.png");
    }
    &.pre {
      background-image: url("../images/shop_main/subimage_shop4.png");
    }
  }

  .inner {
    margin: 0 auto;
    width: 900px;
    padding: 30px 0;
    ul {
      margin: 0 auto;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 430px;
        height: 640px;
        text-align: center;
        padding: 5px;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
        .li_txtBox {
          margin: 20px 0;
          span {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            height: 40px;
            padding: 20px;
          }
        }
        .cart {
          width: 100%;
          padding: 10px 0;
          border: 1px solid #ccc;
          a {
            font-size: 23px;
          }
        }
      }
    }
    .soon {
      height: 300px;
      margin: 0 auto;
      text-align: center;
      color: #777777;
      font-weight: 500;
      h3 {
        display: block;
        font-size: 30px;
        height: 30px;
        line-height: 50px;
        span {
          display: block;
          height: 30px;
          line-height: 30px;
          font-size: 20px;
        }
      }
    }
  } //메인페이지 _end
  //상품 소개 페이지 시작
  .shop_pd_info {
    padding-top: 70px;
    width: 900px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid #c3cfd9;
    .top_pd_menu01 {
      display: flex;
      justify-content: space-between;
      .imgArea {
        width: 48%;
        .thumbnail {
          img {
            width: 100%;
          }
        }
        .list_img {
          width: 100%;
          margin-top: 30px;
          ul {
            display: flex;
            justify-content: space-between;
            li {
              cursor: pointer;
              display: block;
              width: 19%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .infoArea {
        padding-top: 20px;
        width: 48%;
        .info_button_inside {
          h3 {
            font-size: 20px;
            margin: 15px 0;
          }
          p {
            font-size: 14px;
            margin: 15px 0;
          }
        }
        .total_product {
          margin: 30px 0;
          border-top: 1px solid #c3cfd9;
          border-bottom: 1px solid #c3cfd9;
          ul {
            display: flex;
            justify-content: space-between;
            li {
              padding: 10px 0;
              font-size: 13px;
              line-height: 30px;
              margin-right: 30px;
              align-items: center;
              a {
                img {
                  vertical-align: middle;
                }
              }
              input {
                vertical-align: middle;
                text-align: center;
                box-sizing: border-box;
                width: 20px;
                border: none;
              }
              &:nth-child(3) {
                margin-right: 0px;
                margin-left: 40px;
              }
            }
          }
        }
        .total_price {
          text-align: right;
          font-size: 17px;
          font-weight: 600;
          color: #777777;
        }
        .base_btn {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          a {
            width: 28%;
            text-align: center;
            font-weight: 500;
            padding: 10px 10px;
            border: 1px solid #c3cfd9;
            &:nth-child(1) {
              border: none;
              background-color: #ffcc00;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
